* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    background-color: white;
}

.mainDisplay {
    display: flex;
    flex-direction: row;
    border-top: 3px solid rgb(110, 88, 71);
    border-bottom: 3px solid rgb(110, 88, 71);
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}